#code-editor {
    position: absolute;
    width: 100vw; height: calc(100vh - 150px); top:0; left:0;

    --status-color: gray;
}

body{
    --theme-color-red : #ff6188;
    --theme-color-orange: #fc9867;
    --theme-color-yellow: #ffd866;
    --theme-color-green: #a9dc76;
    --theme-color-blue: #78dce8;
    --theme-color-purple: #ab9df2;
    --theme-shade-0: #19181a;
    --theme-shade-1: #221f22;
    --theme-shade-2: #2d2a2e;
    --theme-shade-3: #403e41;
    --theme-shade-4: #5b595c;
    --theme-shade-5: #727072;
    --theme-shade-6: #939293;
    --theme-shade-7: #c1c0c0;
    --theme-shade-8: #fcfcfa;
}

div#highlighted{
    background-color: var(--theme-shade-2);
    color: var(--theme-shade-5);
    outline: 2px solid var(--status-color);
    outline-offset: -2px;
}

textarea,div#highlighted{
    white-space: pre;
    font-size: 13pt;
    line-height: 1.2;
    padding: 11pt;
    font-family: 'JetBrains Mono', monospace;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: auto;
    position:absolute;
    font-weight: 300;
}

textarea{
    border:none;
    resize:none;
    color: transparent !important;
    background-color: transparent;
    caret-color: white;
    outline: none;
}

textarea::selection{ background: #FFF2 !important; }

span.number-literal{ color: var(--theme-color-purple); }
span.control-keyword{ color: var(--theme-color-red); }
span.keyword{ color: var(--theme-color-red); }
span.string-literal{ color: var(--theme-color-yellow); }
span.type-name{ color: var(--theme-color-green); }
span.operator{ color: var(--theme-color-red); }
span.unknown{ color: var(--theme-shade-8); }

#code-output{
    position: absolute;
    bottom: 0; left: 0;
    width: 100vw;
    height: 150px;
    overflow: auto;
    padding: 5pt;
    box-sizing: border-box;
    border: 2px solid #5b595c;
    background: #222222;
}

#console>span{
    font-family: 'JetBrains Mono', monospace;
    font-size: 9pt;
    display: block;
    padding: 6px 0;
    white-space: pre;
    color: white;
    line-height: 1.2;
}

#console ::selection{
    background: #FFF2 !important;
}

#console>span:not(:first-child){
    border-top: 1px solid #5b595c;
}